.btn {
  display: inline-block;
  border: none;
  color: $fg-color-primary;
  text-decoration: none;
  padding: 10px;
  background-color: $bg-color-primary;
  border: 1px solid $border-color-dark;
  @include inset-shadow();
  @include border-radius();

  .fa {
    width: 20px;
  }

  .fa.brdr-r {
    border-right: 1px solid $fg-color-primary;
  }

  .loading-btn-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    .loading-spinner {
      width: 0;
      height: 0;
      margin-left: 0;
      transition: width .1s linear, height .1s linear, margin-left .1s linear;
    }
  }

  &.loading .loading-btn-inner .loading-spinner {
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
  }
}

.btn-red      { background-color: $red;      }
.btn-green    { background-color: $green;    }
.btn-blue     { background-color: $blue;     }
.btn-purple   { background-color: $purple;   }
.btn-pink     { background-color: $pink;     }
.btn-google   { background-color: $google;   }
.btn-facebook { background-color: $facebook; }
.btn-twitter  { background-color: $twitter;  }
.btn-github   { background-color: $github;   }

.btn-red:hover      { background-color: darken($red,      5%); }
.btn-green:hover    { background-color: darken($green,    5%); }
.btn-blue:hover     { background-color: darken($blue,     5%); }
.btn-purple:hover   { background-color: darken($purple,   5%); }
.btn-pink:hover     { background-color: darken($pink,     5%); }
.btn-google:hover   { background-color: darken($google,   5%); }
.btn-facebook:hover { background-color: darken($facebook, 5%); }
.btn-twitter:hover  { background-color: darken($twitter,  5%); }
.btn-github:hover   { background-color: darken($github,   5%); }

.btn[disabled] {
  background-color: $disabled;
}

