form {
  max-width: 100%;
  padding: 2 * $gutter-size;
}

.form-group {
  margin-bottom: $gutter-size;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: $gutter-size/2;
  }

  input:not([type]),
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="tel"],
  input[type="url"],
  input[type="text"],
  select {
    @include border-radius();
    display: block;
    width: 100%;
    padding: $gutter-size/2 $gutter-size;
    font-size: $gutter-size;
    color: $border-color-dark;
    border: 3px solid $bg-color-primary;
    box-shadow: none;
    transition: border-color $transition-timing-function-primary $transition-duration-primary;

    &:focus {
      border-color: $pink;
      outline: 0;
    }
  }

  ::-webkit-input-placeholder { color: lighten($border-color-dark, 50); }
  ::-moz-placeholder          { color: lighten($border-color-dark, 50); }
  :-ms-input-placeholder      { color: lighten($border-color-dark, 50); }
  :-moz-placeholder           { color: lighten($border-color-dark, 50); }
}

.input-group {
  display: flex;

  & > * {
    flex: 1;
  }
}

