.hamburger {
  cursor: pointer;
	padding: 5px;

  .bar {
    width: 35px;
    height: 4px;
    background-color: $fg-color-primary;
    margin: 6px 0;
    transform: none;
    transition: transform $transition-duration-primary $transition-timing-function-primary;
    @include border-radius();
    @include subtle-shadow();
  }
}

.hamburger.active {
  .bar:nth-child(1) { transform: translateY(10px) rotate(45deg); }
  .bar:nth-child(2) { transform: rotate(45deg); }
  .bar:nth-child(3) { transform: translateY(-10px) rotate(-45deg); }
}

