.pad   { padding:        $gutter-size; }
.pad-t { padding-top:    $gutter-size; }
.pad-r { padding-right:  $gutter-size; }
.pad-b { padding-bottom: $gutter-size; }
.pad-l { padding-left:   $gutter-size; }

.mar   { margin:        $gutter-size; }
.mar-t { margin-top:    $gutter-size; }
.mar-r { margin-right:  $gutter-size; }
.mar-b { margin-bottom: $gutter-size; }
.mar-l { margin-left:   $gutter-size; }

