/* Text alignment. */
.txt-lft  { text-align: left;   }
.txt-rght { text-align: right;  }
.txt-cntr { text-align: center; }

/* Text colors. */
.clr-green    { color: $green;    }
.clr-red      { color: $red;      }
.clr-blue     { color: $blue;     }
.clr-purple   { color: $purple;   }
.clr-pink     { color: $pink;     }
.clr-google   { color: $google;   }
.clr-facebook { color: $facebook; }
.clr-twitter  { color: $twitter;  }
.clr-github   { color: $github;   }
.clr-white    { color: $github;   }

/* Font sizes. */
.fnt-xs { font-size: .5rem;  }
.fnt-s  { font-size: .8rem;  }
.fnt-m  { font-size: 1rem;   }
.fnt-l  { font-size: 1.5rem; }
.fnt-xl { font-size: 2rem;   }

