/** Borders **/
.brdr   { border:        1px solid $border-color; }
.brdr-t { border-top:    1px solid $border-color; }
.brdr-l { border-left:   1px solid $border-color; }
.brdr-b { border-bottom: 1px solid $border-color; }
.brdr-r { border-right:  1px solid $border-color; }
