/* Borders. */
.brdr   { border:        1px solid $border-color-primary; }
.brdr-t { border-top:    1px solid $border-color-primary; }
.brdr-l { border-left:   1px solid $border-color-primary; }
.brdr-b { border-bottom: 1px solid $border-color-primary; }
.brdr-r { border-right:  1px solid $border-color-primary; }

/* Shadows. */
@mixin inset-shadow() {
  box-shadow: 0 0 7px 1px #000 inset;
}

@mixin subtle-shadow() {
  box-shadow: 0 0 7px 1px #222;
}

.subtle-shadow {
  @include subtle-shadow();
}

/* Rounded corners. */
@mixin border-radius() {
  border-radius: 4px;
}

.border-radius {
  @include border-radius();
}

/* Circle objects. */
@mixin circle() {
  border-radius: 50%;
}

.circle {
  @include circle();
}

/* Widths. */
.full-width {
  width: 100%;
}
