/* Font definitions. */
$font-size-base: 14px;
$font-face: arial, sans-serif;

/* Position definitions. */
$gutter-size: 1rem;

/* Color definitions. */
$green: #025f12;
$red: #c14141;
$blue: #024154;
$purple: #58054e;
$pink: #ad0351;
$google: #dd4b39;
$facebook: #3b5998;
$twitter: #00aced;

$bg-color-primary: #333;
$bg-color-action: $red;

$fg-color-primary: #efefef;

$border-color-primary: $fg-color-primary;
$border-color-dark: #444;

/* Transitions. */
$transition-duration-primary: .1s;
$transition-timing-function-primary: linear;
